@use "../../../../../../assets/styles/mixins" as mixin;

.formContainer {
  width: 90%;
  height: auto;
  // padding-bottom: 10px;
  align-items: start;
  .avatarContainer {
    position: relative;
    .avatarBoxImage {
      max-height: 100px;
      width: 100px;
      position: relative;
      overflow: hidden;
      border-radius: 80px;
      box-shadow: var(--box-shadow);
      img {
        object-fit: cover;
      }
    }
    .label_avatar {
      position: absolute;
      bottom: 2px;
      right: -2px;
      cursor: pointer;
      width: 30px;
    }
    .avatarImage {
      object-fit: cover;
    }
  }
  .avatar {
    display: none;
  }
  .form {
    width: 100%;
    .inputName {
      width: 100%;
      border: none;
      border-bottom: 2px solid var(--semantic-11);
      padding-bottom: 10px;
    }
    .adresse {
      height: 25px;
      width: 100%;
      font-size: 0.8rem;
      font-weight: bold;
      border: none;
      border-bottom: 2px solid var(--semantic-11);
    }
    .phoneBox {
      width: 100%;
      .phone {
        margin-bottom: 10px;

        input {
          height: 25px;
          min-width: 100%;
          font-size: 0.8rem;
          font-weight: bold;
          border: none;
          border-bottom: 2px solid var(--semantic-11);
          padding-bottom: 10px;
        }
        button {
          border: none;
        }
      }
    }
    .birthDate {
      width: 100%;
      border: none;
      border-bottom: 2px solid var(--semantic-11);
      cursor: pointer;
      padding-bottom: 10px;
    }
    .inputFunction {
      width: 100%;
      border: none;
      border-bottom: 2px solid var(--semantic-11);
      cursor: pointer;
      padding-bottom: 10px;
    }
  }
}
@include mixin.xs {
  .formContainer {
    width: 100%;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
    padding-bottom: 80px;
    .avatarContainer {
      .avatarBoxImage {
        width: 100px;
        height: 100px;
        border-radius: 80px;
        overflow: hidden;
        position: relative;
        box-shadow: var(--box-shadow);
        .avatarImage {
          object-fit: cover;
          position: absolute;
        }
      }
      .ProPhoto {
        position: absolute;
        right: 4px;
        top: 100px;
      }
    }
    .ProInput {
      width: 100%;
      padding: 0 5px;

      p {
        color: var(--semantic-10);
        width: 100%;
      }
      span {
        color: var(--primary-2);
        padding-bottom: 10px;
        border-bottom: 2px solid var(--semantic-11);
        width: 100%;
      }
    }
  }
}
