@use "../../../../../../assets/styles/mixins" as mixin;

.mainContainer {
  width: 100vw;
  padding: 20px 0;
  .boxTitle {
    display: none;
  }
  .profilContainer {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 35px;
    // overflow: hidden;
    .domaineBoxContainer {
      width: 100%;
      .domaineBox {
        width: auto;
        margin-right: 20%;
        .domaineLink {
          width: auto;
          position: relative;
          font-size: 1.2rem;
          font-weight: 500;
          color: var(--primary-2);
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var(--primary-3);
            transform-origin: bottom right;
            transition: transform 0.3s ease-out;
          }
          &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
        .domaineLinkActive {
          border-bottom: 3px solid var(--primary-3);
          font-size: 1.2rem;
          font-weight: 500;
          color: var(--primary-2);
        }
      }
    }
    .containerBoxRestaurant {
      margin-left: 10px;
      transition: all 1s;
      width: 100%;
      opacity: calc(0.0005);
      .BoxRestaurant {
        width: 200px;
        height: 300px;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        margin-right: 20px;
        margin-bottom: 20px;
        box-shadow: 5px 5px 15px 1px #000000;
        position: relative;
        .RestaurantImage {
          object-fit: cover;
          position: absolute;
          height: 100%;
          transition: all 0.8s;
          &:hover {
            transform: scale(1.05);
          }
        }
        .boxLink {
          position: absolute;
          bottom: -10px;
          width: 100%;
          padding: 5px;
          color: var(--primary-1);
          font-weight: 900;
        }
      }
    }
    .containerBoxRestaurantActive {
      transform: translate(-100%);
      opacity: calc(1);
    }
    .containerBoxRestaurantActive2 {
      transform: translate(-200%);
      opacity: calc(0.001);
    }
    .BoxRestaurantAjouter {
      width: 200px;
      height: 300px;
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      margin-right: 20px;
      margin-bottom: 20px;
      background-color: beige;
      position: relative;
      box-shadow: 5px 5px 15px 1px #000000;
      .boxLinkAjout {
        position: absolute;
        bottom: 0px;
        width: 100%;
        .linkAjout {
          font-size: 14px;
          color: var(--primary-3);
          font-weight: 900;
          transition: all 0.2s;
          margin-left: 10px;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
    .title {
      width: 100%;
    }
  }
}

@include mixin.xs {
  .mainContainer {
    width: 100%;
    margin-top: 0px;
    .boxTitle {
      display: block;
      h2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 500;
      }
      .boxText {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--neutral-8);
        width: 280px;
        border: 1px solid var(--primary-3);
        border-radius: 10px;
        box-shadow: var(--box-shadow-nav);
        margin: auto;
        padding: 15px 25px;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 500;
      }
    }
    .profilContainer {
      width: 100%;
      height: 100%;
      padding-bottom: 70px;
      .title {
        display: none;
      }
    }
  }
}
