.AccueillPage {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-1);
  .AccueillContainer {
    width: 100%;
    height: 100vh;
    .WelcomeLogo {
      grid-area: logo;
      img {
        width: 190px;
      }
    }
    .AccueillcontainerLinks {
      width: 300px;
      height: 320px;
      .Link {
        padding: 20px;
        border: 2px solid white;
        width: 120px;
        height: 120px;
        background-color: white;
        border-radius: 5px;
        img {
          color: white;
          width: 40px;
        }
        p {
          text-align: center;
        }
      }
    }
  }
}
