@use "../../../../assets/styles/mixins" as mixin;

.CustomerHomePage {
  width: 100%;
  min-height: 100vh;
  .profilContainer {
    margin-top: 100px;
    width: 60%;
    margin-bottom: 20px;
    .CustomerfilText {
      width: 20%;
      font-size: 0.8rem;
      font-weight: 700;
      color: var(--primary-2);
    }
  }
}

@include mixin.xs {
  .CustomerHomePage {
    width: 100%;
    min-height: 100vh;
    .profilContainer {
      margin-top: 0px;
      width: 80%;
      margin-bottom: 20px;
      .profilTitle {
        justify-content: center;
        .ProArrow {
          display: none;
        }
      }

      .profilText {
        width: 20%;
        font-size: 0.8rem;
        font-weight: 700;
        color: var(--primary-2);
      }
    }
  }
  .profilText {
    display: none;
  }
}
